body {
    margin: 0 0;
}

#general{
    width: 960px;
    margin: 0 auto;
}
#header{

    margin: 0px;
    padding-left: 10%;
    font-size: 1.75em;
    font-weight: bold;

}
#header p{
    padding-bottom: 3%;
    margin: 0%;
}

.imatgePrincipal{
    padding-top: 2%;
}
header *{
    margin: 10px;
}

#footer{
    position: absolute;
    bottom: 10px;
    width: 100%;

    padding: 1% 10%;
}

#subHeader{
    padding-left: 10%;
}

#contenido{
 margin:0px;
 padding-left: 10%;
 padding-right: 10%;
}